---


import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css'

const pageTitle = 'About me'

const identity = {
  firstName : 'Ludo',
  country : 'lille',
  occupation : 'dev front',
  hobby : ['musique', 'lecture', 'velo']
}

const skills = ['html', 'css', 'javascript', 'React' , 'Astro' , 'nextjs']

const happy = true;
const finished = true;
const goal = 2

const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>

    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color : purple;
        font-size: 4rem;
      }

      .skill {
        color : var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform : var(--textCase)
      }
    </style>
  </head>
  <body>
     
    <BaseLayout pageTitle={pageTitle}>
    
    <h1>Welcome to {pageTitle}</h1>
    <ul>
     <li> mon nom est {identity.firstName}</li>
     {identity.hobby.length >= 2 && 
    <li> mes loisirs sont : {identity.hobby[0]} et {identity.hobby[1]}</li>
    }
    </ul>
    <p>mes skills sont</p>
    <ul>
      {skills.map(skill => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>i am happy to be learning Astro</p>}
    {finished && <p>I finshes this tutoriel</p>}

    <!-- {goal===3 ? <p> my goal is the fished 3 days</p> : <p> not fiinished à temps</p>} -->
    </BaseLayout>
     
    


    
  </body>
</html>